/Server/serverSideApp/nbproject/private/
/Server/serverSideApp/dist/
/Server/serverSideApp/build/
/ClientSideApp/GameBoard/nbproject/private/
/ClientSideApp/GameBoard/dist/
/ClientSideApp/GameBoard/build/
Server/serverSideApp/build/built-jar.properties
Server/serverSideApp/build/classes/serverdao/Dao.class
Server/serverSideApp/build/classes/serverdao/GamePojo.class
Server/serverSideApp/dist/serverSideApp.html
Server/serverSideApp/dist/serverSideApp.jar
Server/serverSideApp/dist/serverSideApp.jnlp
Server/serverSideApp/nbproject/UPDATED.TXT
Server/serverSideApp/nbproject/jfx-impl.xml
Server/serverSideApp/nbproject/private/private.properties
