#btnCloseGameBorad,
#btnGame0,
#btnGame1,
#btnGame2,
#btnGame3,
#btnGame4,
#btnGame5,
#btnGame6,
#btnGame7,
#btnGame8
{
    -fx-cursor: hand;
}

.playerX
{
    -fx-text-fill: green;
}
.playerO
{
    -fx-text-fill: blue;
}
.greenBackground
{
    -fx-background-color: #00e200;
    -fx-text-fill: #FFFFFF;
}

.redBackground
{
    -fx-background-color: #e20000;
    -fx-text-fill: #FFFFFF;
}
